<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ day }} Recommendations</title>
	<link rel="stylesheet" , href="styles.css">
	<script src="main.js" defer></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet">
</head>

<body>
	<h1>{{ day }} Recommendations</h1>
	<p1>{{ item1_name }}: {{ item1_carbon_emissions }}, {{ item1_calories }}, {{ item1_protein }}, {{ item1_fat }}, {{
		item1_carbs }}</p1>
	<p1>{{ item2_name }}: {{ item2_carbon_emissions }}, {{ item2_calories }}, {{ item2_protein }}, {{ item2_fat }}, {{
		item2_carbs }}</p1>
	<p1>{{ item3_name }}: {{ item3_carbon_emissions }}, {{ item3_calories }}, {{ item3_protein }}, {{ item3_fat }}, {{
		item3_carbs }}</p1>
</body>

</html>