<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ day }} Recommendations</title>
	<link type="text/css" rel="stylesheet" , href="{{ url_for('static', filename='styles.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet">
</head>

<body>
	<header id="original-header">
		<nav id="nav-buttons">
			<ul id="original-page">
				<li><a href="/">Home</a></li>
				<li><a href="/monday">Monday</a></li>
				<li><a href="/tuesday">Tuesday</a></li>
				<li><a href="/wednesday">Wednesday</a></li>
				<li><a href="/thursday">Thursday</a></li>
				<li><a href="/friday">Friday</a></li>
				<li><a href="/saturday">Saturday</a></li>
				<li><a href="/sunday">Sunday</a></li>
			</ul>
		</nav>
	</header>
	<ul>
		<li>
			<h1>{{ day }} Recommendations</h1>
		</li>
		<br>
		<br>
		<li>
			<p class="p1">1. {{ item1_name }} | {{ item1_carbon_emissions }} Eco Score, {{ item1_calories }} cals., {{
				item1_protein }} protein (g), {{
				item1_fat }} fat (g), {{ item1_carbs }} carb (g)
			</p>
		</li>
		<br>
		<br>
		<li>
			<p class="p1">2. {{ item2_name }} | {{ item2_carbon_emissions }} Eco Score, {{ item2_calories }} cals., {{
				item2_protein }} protein (g), {{
				item2_fat }} fat (g), {{ item2_carbs }} carb (g)
			</p>
		</li>
		<br>
		<br>
		<li>
			<p class="p1">3. {{ item3_name }} | {{ item3_carbon_emissions }} Eco Score, {{ item3_calories }} cals., {{
				item3_protein }} protein (g), {{
				item3_fat }} fat (g), {{ item3_carbs }} carb (g)
			</p>
		</li>
	</ul>
</body>

</html>